/*
 * SPDX-FileCopyrightText: 2024 John Colagioia <jcolag@colagioia.net>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:root {
  --bg: hsl(240,3%,99%);
  --head: hsl(240,66%,50%);
  --head2: hsl(240,66%,75%);
  --link: hsl(240,40%,45%);
  --link-hover: hsl(305,40%,75%);
  --link-visit: hsl(305,40%,35%);
  --text: hsl(240,66%,25%);
}
@font-face {
  font-family: 'Inclusive Sans';
  src: url('fonts/InclusiveSans-Regular.ttf');
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(240,3%,5%);
    --head: hsl(240,66%,65%);
    --head2: hsl(240,66%,65%);
    --link: hsl(240,40%,55%);
    --link-hover: hsl(305,40%,25%);
    --link-visit: hsl(305,40%,65%);
    --text: hsl(240,66%,75%);
  }
}
@media screen and (prefers-reduced-motion) {
  h1 {
    animation: none;
  }
}
a:link {
  color: var(--link);
}
a:active,a:focus,a:hover {
  color: var(--link-hover) !important;
}
a:visited {
  color: var(--link-visit);
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inclusive Sans';
  font-size: 1.25em;
  overflow-x: hidden;
  padding-top: 5em;
  text-align: center;
  text-wrap: balance;
}
button,input {
  background-color: var(--bg);
  color: var(--head2);
  font-family: 'Inclusive Sans';
  font-size: 2em;
}
h1 {
  color: var(--head);
  font-family: 'Inclusive Sans';
  margin-left: -99em;
  margin-right: -99em;
  text-align: center;
}
h2, h3, h4, h5, h6 {
  color: var(--head2);
	font-family: 'Inclusive Sans';
	font-weight: bold;
}
main {
  margin-left: calc(50%);
  width: 700px;
  transform: translateX(-50%);
}
tt.email b {
  display: none;
}
#main-flag {
  width: 80%;
}
.img-container {
  align-items: center;
  aspect-ratio: 0.95;
  display: flex;
  padding-left: 10%;
  text-align: center;
  width: 80%;
}
.logo {
  margin: auto;
  padding: 2em;
}
.fotw-arm {
  display: inline-block;
  vertical-align: top;
  width: 32%;
}
.fotw-arm img {
  padding-left: 10%;
  width: 80%;
}

