/*
 * SPDX-FileCopyrightText: 2024 John Colagioia <jcolag@colagioia.net>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@font-face {
  font-family: 'Neonderthaw';
  src: url('fonts/Neonderthaw-Regular.ttf');
}
@font-face {
  font-family: 'Tilt Neon';
  src: url('fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf');
}
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 100 200 300 500 600 700 800 900;
  src: url('fonts/LeagueSpartan-VF.woff2');
}
@media screen and (prefers-reduced-motion) {
  h1 {
    animation: none;
  }
}
a:link {
  color: hsl(216.4,39.5%,46.7%);
}
a:active,a:focus,a:hover {
  color: hsl(305.4,38.9%,71.8%) !important;
}
a:visited {
  color: hsl(305.8,39%,36.7%);
}
body {
  background-color: hsl(247.1,39.5%,16.9%);
  background-image: url(images/4343692655_f1959a0e29_o.jpg);
  background-repeat: round;
  color: hsl(209.6,100%,15.9%);
  font-family: 'League Spartan';
  font-size: 2em;
  padding-top: 5em;
  text-align: center;
  text-shadow: 0 0 2px hsl(210,100%,85.9%);
  text-wrap: balance;
}
button,input {
  background-color: hsl(247.1,39.5%,16.9%);
  color: hsl(247.06, 39.53%, 91.57%);
  font-family: 'League Spartan';
  font-size: 2rem;
}
h1 {
  animation: flicker 1s infinite alternate;
  color: hsl(90.4,100%,71%);
  font-family: 'Neonderthaw';
  font-size: 3em;
}
h2 {
	color: hsl(330,100%,70.6%);
	font-family: 'Tilt Neon';
	font-weight: bold;
	-webkit-text-stroke: 1px hsl(330,100%,30%);
}
p {
  margin-left: calc(50% - 350px);
  max-width: 700px;
}
tt.email b {
  display: none;
}
.logo {
  background-image: url(images/elephant-head.svg);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 8em;
  height: 8em;
  margin: auto;
  padding: 2em;
  width: fit-content;
}
.nav {
  background-color: rgba(255, 255, 255, 33%);
  left: 0;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  text-align: right;
  top: 0;
}

.nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(0, 0, 0, 33%);
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    color: hsl(90.4,100%,71%);
    text-shadow:
      0 0 2px #fff,
      0 0 6px #fff,
      0 0 9px #fff,
      0 0 20px hsl(90.4,100%,71%),
      0 0 40px hsl(90.4,100%,71%),
      0 0 45px hsl(90.4,100%,71%),
      0 0 50px hsl(90.4,100%,71%),
      0 0 75px hsl(90.4,100%,71%);
  }
  20%, 24%, 55% {
    color: hsl(90.4,100%,71%);
    text-shadow: none;
 }
}
