/*
 * SPDX-FileCopyrightText: 2015 Daniel Eden
 *
 * SPDX-License-Identifier: MIT
 */

/* First section seemingly licensed CC0-1.0 by the United States Army */

@font-face {
  font-display: block;
  font-family: armyicons;
  font-style: normal;
  font-weight: 400;
  src:  url('../unit_files/armyicons.eot');
  src:  url('../unit_files/armyicons.eot') format('embedded-opentype'),
    url('../unit_files/armyicons.woff2') format('woff2'),
    url('../unit_files/armyicons.ttf') format('truetype'),
    url('../unit_files/armyicons.woff') format('woff'),
    url('../unit_files/armyicons.svg') format('svg');
}

a,article,body,caption,div,footer,form,h1,h2,h3,h4,h5,h6,header,html,img,label,li,menu,nav,p,s,section,span,u,ul,video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,footer,header,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

/* Animate.css - http:/daneden.me/animate by Daniel Eden */

@font-face {
  text-rendering: optimizeLegibility;
  font-family: GI;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/GI-750.woff) format("woff"),url(fonts/GI-750.ttf) format("truetype"),url(fonts/GI-750.woff2) format("woff2");
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: GI;
  font-style: italic;
  font-weight: 700;
  src: url(fonts/GI-750Italic.woff) format("woff"),url(fonts/GI-750Italic.ttf) format("truetype"),url(fonts/GI-750Italic.woff2) format("woff2");
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: GI;
  font-style: normal;
  font-weight: 600;
  src: url(fonts/GI-530.woff) format("woff"),url(fonts/GI-530.ttf) format("truetype"),url(fonts/GI-530.woff2) format("woff2");
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: GI;
  font-style: italic;
  font-weight: 600;
  src: url(fonts/GI-530Italic.woff) format("woff"),url(fonts/GI-530Italic.ttf) format("truetype"),url(fonts/GI-530Italic.woff2) format("woff2");
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: GI;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GI-400.woff) format("woff"),url(fonts/GI-400.ttf) format("truetype"),url(fonts/GI-400.woff2) format("woff2");
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: GI;
  font-style: italic;
  font-weight: 400;
  src: url(fonts/GI-400Italic.woff) format("woff"),url(fonts/GI-400Italic.ttf) format("truetype"),url(fonts/GI-400Italic.woff2) format("woff2");
}

.army-font {
  color: #221f20;
  font: normal 1em/1.625 GI,sans-serif;
}

h1 {
  font: 600 1.875em/1.333 GI,sans-serif;
}

@media (min-width:481px) and (max-width:699px) {
  h1 {
    font: 600 2.25em/1.333 GI,sans-serif;
  }
}

@media (min-width:700px) and (max-width:768px) {
  h1 {
    font: 600 2.5em/1.25 GI,sans-serif;
  }
}

@media (min-width:769px) and (max-width:992px) {
  h1 {
    font: 600 2.5em/1.25 GI,sans-serif;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  h1 {
    font: 600 3em/1.25 GI,sans-serif;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  h1 {
    font: 600 3em/1.25 GI,sans-serif;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  h1 {
    font: 600 3em/1.25 GI,sans-serif;
  }
}

@media (min-width:1601px) {
  h1 {
    font: 600 3em/1.25 GI,sans-serif;
  }
}

h2 {
  font: 700 1.875em/1.333 GI,sans-serif;
}

@media (min-width:700px) and (max-width:768px) {
  h2 {
    font: 700 2.25em/1.333 GI,sans-serif;
  }
}

@media (min-width:769px) and (max-width:992px) {
  h2 {
    font: 700 2.25em/1.333 GI,sans-serif;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  h2 {
    font: 700 2.5em/1.25 GI,sans-serif;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  h2 {
    font: 700 2.5em/1.25 GI,sans-serif;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  h2 {
    font: 700 2.5em/1.25 GI,sans-serif;
  }
}

@media (min-width:1601px) {
  h2 {
    font: 700 2.5em/1.25 GI,sans-serif;
  }
}

h3 {
  font: 700 1.5em/1.5 GI,sans-serif;
}

@media (min-width:700px) and (max-width:768px) {
  h3 {
    font: 700 1.875em/1.333 GI,sans-serif;
  }
}

@media (min-width:769px) and (max-width:992px) {
  h3 {
    font: 700 1.875em/1.333 GI,sans-serif;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  h3 {
    font: 700 2.25em/1.333 GI,sans-serif;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  h3 {
    font: 700 2.25em/1.333 GI,sans-serif;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  h3 {
    font: 700 2.25em/1.333 GI,sans-serif;
  }
}

@media (min-width:1601px) {
  h3 {
    font: 700 2.25em/1.333 GI,sans-serif;
  }
}

h4 {
  font: 700 1.313em/1.4 GI,sans-serif;
}

@media (min-width:700px) and (max-width:768px) {
  h4 {
    font: 700 1.5em/1.5 GI,sans-serif;
  }
}

@media (min-width:769px) and (max-width:992px) {
  h4 {
    font: 700 1.5em/1.5 GI,sans-serif;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  h4 {
    font: 700 1.5em/1.5 GI,sans-serif;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  h4 {
    font: 700 1.5em/1.5 GI,sans-serif;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  h4 {
    font: 700 1.5em/1.5 GI,sans-serif;
  }
}

@media (min-width:1601px) {
  h4 {
    font: 700 1.5em/1.5 GI,sans-serif;
  }
}

h5,nav label,nav ul li a,p.large {
  font: 700 1em/1.625 GI,sans-serif;
}

@media (min-width:700px) and (max-width:768px) {
  h5,  nav label,  nav ul li a,  p.large {
    font: 700 1.125em/1.4 GI,sans-serif;
  }
}

@media (min-width:769px) and (max-width:992px) {
  h5,  nav label,  nav ul li a,  p.large {
    font: 700 1.125em/1.4 GI,sans-serif;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  h5,  nav label,  nav ul li a,  p.large {
    font: 700 1.125em/1.4 GI,sans-serif;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  h5,  nav label,  nav ul li a,  p.large {
    font: 700 1.125em/1.4 GI,sans-serif;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  h5,  nav label,  nav ul li a,  p.large {
    font: 700 1.125em/1.4 GI,sans-serif;
  }
}

@media (min-width:1601px) {
  h5,  nav label,  nav ul li a,  p.large {
    font: 700 1.125em/1.4 GI,sans-serif;
  }
}

section {
  overflow: hidden;
}

h4 {
  margin: 50px 0 40px;
}

h4:after {
  background: #ffcc01;
  content: "";
  display: block;
  height: 5px;
  margin: 10px auto 0;
  width: 60px;
}

@media (min-width:769px) and (max-width:992px) {
  h4:after {
    margin: 20px 0 0;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  h4:after {
    margin: 20px 0 0;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  h4:after {
    margin: 20px 0 0;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  h4:after {
    margin: 20px 0 0;
  }
}

@media (min-width:1601px) {
  h4:after {
    margin: 20px 0 0;
  }
}

@media (min-width:769px) and (max-width:992px) {
  h4 {
    margin: 60px 0 54px;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  h4 {
    margin: 60px 0 54px;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  h4 {
    margin: 60px 0 54px;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  h4 {
    margin: 60px 0 54px;
  }
}

@media (min-width:1601px) {
  h4 {
    margin: 60px 0 54px;
  }
}

h2,h3,h4,h5 {
  text-transform: uppercase;
}

h1,h2,h3,h4,h5 {
  text-align: center;
  transition: font-size .25s ease;
}

@media (min-width:769px) and (max-width:992px) {
  h1,  h2,  h3,  h4,  h5 {
    text-align: left;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  h1,  h2,  h3,  h4,  h5 {
    text-align: left;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  h1,  h2,  h3,  h4,  h5 {
    text-align: left;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  h1,  h2,  h3,  h4,  h5 {
    text-align: left;
  }
}

@media (min-width:1601px) {
  h1,  h2,  h3,  h4,  h5 {
    text-align: left;
  }
}

p {
  font: 400 1em/1.625 GI,sans-serif;
}

p.author {
  font: 400 .875 GI,sans-serif;
}

a {
  color: #221f20;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,ul {
  line-height: 1.625em;
  margin-bottom: 1.25em;
}

p:last-child,ul:last-child {
  margin-bottom: 0;
}

.hidden {
  filter: alpha(opacity=0);
  height: 0;
  max-height: 0;
  min-height: 0;
  opacity: 0;
  transition: opacity .25s ease,height .25s ease,min-height .25s ease,max-height .25s ease,visibility .5s linear;
  visibility: hidden;
}

.bodytext-links a {
  border-bottom: 1px solid #ccc;
  color: #0071bb;
  font-weight: 400;
  text-decoration: none;
}

.bodytext-links a:focus,.bodytext-links a:hover {
  border-bottom-color: #00558c;
  color: #00558c;
  text-decoration: none;
}

.bodytext-list ul {
  padding: 0;
}

.bodytext-list ul li {
  line-height: 1.375em;
  list-style-type: disc;
  margin: 0 0 14px 18px;
  padding: 0 0 0 5px;
}

.bodytext-list ul li:last-child {
  margin-bottom: 0;
}

.bodytext-list ul li ul {
  padding: 14px 0 5px;
}

.bodytext a {
  border-bottom: 1px solid #ccc;
  color: #0071bb;
  font-weight: 400;
  text-decoration: none;
}

.bodytext a:focus,.bodytext a:hover {
  border-bottom-color: #00558c;
  color: #00558c;
  text-decoration: none;
}

.bodytext ul {
  padding: 0;
}

.bodytext ul li {
  line-height: 1.375em;
  list-style-type: disc;
  margin: 0 0 14px 18px;
  padding: 0 0 0 5px;
}

.bodytext ul li:last-child {
  margin-bottom: 0;
}

.bodytext ul li ul {
  padding: 14px 0 5px;
}

@media print {
  body {
    font: 12px Arial;
    padding: 0;
  }

  .main {
    margin: 0;
  }

  .container {
    margin: 0;
    max-width: none;
    padding: 0;
  }

  .container .inner-container {
    padding: 0;
  }

  .alt-social-bar,  .social-bar,  footer,  header,  nav {
    display: none;
  }

  a[href^="http:/"]:after,  a[href^="https:/"]:after {
    color: #4c4c4c;
    content: " [" attr(href) "]";
    font-size: 90%;
    font-weight: 400;
  }
}

.span1 {
  width: 8.3333333333%;
}

.span1,.span2 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.span2 {
  width: 16.6666666667%;
}

.span3 {
  width: 25%;
}

.span3,.span4 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.span4 {
  width: 33.3333333333%;
}

.span5 {
  width: 41.6666666667%;
}

.span5,.span6 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.span6 {
  width: 50%;
}

.span7 {
  width: 58.3333333333%;
}

.span7,.span8 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.span8 {
  width: 66.6666666667%;
}

.span9 {
  width: 75%;
}

.span10,.span9 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.span10 {
  width: 83.3333333333%;
}

.span11 {
  width: 91.6666666667%;
}

.span11,.span12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.span12 {
  width: 100%;
}

*,:after,:before {
  box-sizing: border-box;
}

.container {
  zoom: 1;
  margin: 50px auto;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}

.container:after,.container:before {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.container .inner-container {
  overflow: hidden;
  padding: 0;
}

@media (min-width:700px) and (max-width:768px) {
  .container {
    margin: 60px auto;
    max-width: 670px;
  }
}

@media (min-width:769px) and (max-width:992px) {
  .container {
    margin: 60px auto;
    max-width: 740px;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .container {
    margin: 100px auto;
    max-width: 1050px;
  }

  .container .inner-container {
    padding: 0 15px;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .container {
    margin: 100px auto;
    max-width: 1050px;
  }

  .container .inner-container {
    padding: 0 15px;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .container {
    margin: 100px auto;
    max-width: 1050px;
  }

  .container .inner-container {
    padding: 0 15px;
  }
}

@media (min-width:1601px) {
  .container {
    margin: 100px auto;
    max-width: 1050px;
  }

  .container .inner-container {
    padding: 0 15px;
  }
}

.container .inner-container>:first-child>:first-child>h1:first-child,.container .inner-container>:first-child>:first-child>h2:first-child,.container .inner-container>:first-child>:first-child>h3:first-child,.container .inner-container>:first-child>:first-child>h4:first-child,.container .inner-container>:first-child>:first-child>h5:first-child,.container .inner-container>:first-child>:first-child>h6:first-child,.container .inner-container>:first-child>h1:first-child,.container .inner-container>:first-child>h2:first-child,.container .inner-container>:first-child>h3:first-child,.container .inner-container>:first-child>h4:first-child,.container .inner-container>:first-child>h5:first-child,.container .inner-container>:first-child>h6:first-child,.container .inner-container>h1:first-child,.container .inner-container>h2:first-child,.container .inner-container>h3:first-child,.container .inner-container>h4:first-child,.container .inner-container>h5:first-child,.container .inner-container>h6:first-child {
  margin-top: 0;
}

.nav-button {
  border-color: #333;
  border-style: solid;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 23px;
  outline: 0 none;
  padding: 17px 20px 15px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-button span {
  display: none;
}

.nav-button.menu-button {
  border-width: 0 1px 0 0;
  left: 0;
}

.nav-button.menu-button:before {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  content: "\e96d";
  font-family: armyicons;
  font-size: 32px;
  font-weight: 400;
  line-height: 7px;
  position: relative;
  top: 7px;
}

.nav-button.search-button {
  border-width: 0 0 0 1px;
  right: 0;
}

.nav-button.search-button:after {
  color: #fff;
  content: "\e96e";
  font-family: armyicons;
  font-size: 28px;
  font-weight: 400;
  line-height: 7px;
  position: relative;
  top: 7px;
}

@media (min-width:769px) and (max-width:992px) {
  .nav-button.menu-button,  .nav-button.search-button {
    border: none;
  }

  .nav-button.menu-button span,  .nav-button.search-button span {
    display: inline;
  }

  .nav-button:before {
    margin-right: 10px;
  }

  .nav-button:after {
    margin-left: 10px;
  }

  .nav-button.close-button.menu-button:before {
    margin-right: 10px;
  }

  .nav-button.close-button.search-button:after {
    margin-left: 10px;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .nav-button.menu-button,  .nav-button.search-button {
    border: none;
  }

  .nav-button.menu-button span,  .nav-button.search-button span {
    display: inline;
  }

  .nav-button:before {
    margin-right: 10px;
  }

  .nav-button:after {
    margin-left: 10px;
  }

  .nav-button.close-button.menu-button:before {
    margin-right: 10px;
  }

  .nav-button.close-button.search-button:after {
    margin-left: 10px;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .nav-button.menu-button,  .nav-button.search-button {
    border: none;
  }

  .nav-button.menu-button span,  .nav-button.search-button span {
    display: inline;
  }

  .nav-button:before {
    margin-right: 10px;
  }

  .nav-button:after {
    margin-left: 10px;
  }

  .nav-button.close-button.menu-button:before {
    margin-right: 10px;
  }

  .nav-button.close-button.search-button:after {
    margin-left: 10px;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .nav-button.menu-button,  .nav-button.search-button {
    border: none;
  }

  .nav-button.menu-button span,  .nav-button.search-button span {
    display: inline;
  }

  .nav-button:before {
    margin-right: 10px;
  }

  .nav-button:after {
    margin-left: 10px;
  }

  .nav-button.close-button.menu-button:before {
    margin-right: 10px;
  }

  .nav-button.close-button.search-button:after {
    margin-left: 10px;
  }
}

@media (min-width:1601px) {
  .nav-button.menu-button,  .nav-button.search-button {
    border: none;
  }

  .nav-button.menu-button span,  .nav-button.search-button span {
    display: inline;
  }

  .nav-button:before {
    margin-right: 10px;
  }

  .nav-button:after {
    margin-left: 10px;
  }

  .nav-button.close-button.menu-button:before {
    margin-right: 10px;
  }

  .nav-button.close-button.search-button:after {
    margin-left: 10px;
  }
}

.nav-button.close-button.menu-button:before {
  content: "\e96f";
  display: inline-block;
  font-size: 26px;
  left: 0;
  text-align: center;
  top: 5px;
  width: 33px;
}

.nav-button.close-button.search-button:after {
  content: "\e96f";
  display: inline-block;
  font-size: 26px;
  text-align: center;
  top: 5px;
  width: 29px;
}

.search-submit-button {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  height: 24px;
  width: 24px;
}

.social-button a {
  text-decoration: none;
}

.social-button a span {
  font-size: 0;
}

.social-button a span:before {
  color: #fff;
  font: normal 25px/25px armyicons;
}

.social-button.youtube-button a span:before {
  content: "\ea9d";
}

.nav-army-star {
  text-indent: -99999px;
}

.nav-army-star span {
  background: transparent url(/images/rv7/universal/army_logo_horizontal.svg) no-repeat scroll;
  display: block;
  height: 36px;
  width: 150px;
}

.toggle-button,a.toggle-button {
  display: inline-block;
  text-decoration: none;
  transform: rotate(90deg);
}

.toggle-button:before,a.toggle-button:before {
  content: "\e90d";
  font-family: armyicons;
}

.toggle-button.active,a.toggle-button.active {
  transform: rotate(-90deg);
}

body #usasearch_sayt .ui-menu a {
  color: #111;
}

body #usasearch_sayt .ui-menu .ui-menu-item a {
  line-height: 40px;
  padding: 0 5px;
}

header *,header :after,header :before {
  box-sizing: content-box;
}

header a:focus,header a:hover {
  text-decoration: none;
}

header ul {
  line-height: 1.375em;
}

header {
  font-family: GI,sans-serif;
  height: 58px;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
}

header .nav-army-star {
  align-content: center;
  background: #221f20;
  display: flex;
  flex-wrap: wrap;
  height: 53px;
  left: 50%;
  line-height: 0;
  max-width: 45%;
  padding: 0 10px 3px;
  position: absolute;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 1;
}

header .nav-army-star span {
  transition: transform .1s ease;
}

header .nav-army-star:hover span {
  transform: scale(1.1);
}

header .search-form-container {
  line-height: 82px;
  padding: 0 55px 0 20px;
  position: relative;
}

header .search-form-container div {
  height: 0;
  width: 0;
}

header .search-form-container label {
  border: 0;
  color: transparent;
  display: block;
  font: 0/0 a;
  margin: 0;
  text-shadow: none;
}

header .search-form-container input.usagov-search-autocomplete {
  border: 0;
  box-sizing: border-box;
  color: #4c4c4c;
  font: 400 .938em/2 GI,sans-serif;
  height: 30px;
  outline: none;
  padding: 0 10px;
  width: 100%;
}

header .search-form-container .search-submit-button {
  padding: 0;
  position: absolute;
  right: 19px;
  top: 30px;
}

header .navbar {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header .navbar .navbar-container {
  background: #221f20;
  border-bottom: 2px solid #ffcc01;
  height: 56px;
}

@media (max-width:480px) {
  header .navbar {
    transition: transform .4s ease;
  }
}

@media (min-width:481px) and (max-width:699px) {
  header .navbar {
    transition: transform .4s ease;
  }
}

header .nav-window {
  background-color: #221f20;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transition: transform .25s ease;
}

header .nav-window.search-window {
  height: 82px;
}

header .nav-window.menu-window {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: scroll;
}

header .menu-container {
  margin: 0 0 58px;
  overflow: hidden;
  padding: 30px 30px 60px;
}

header .menu-container .list-container>ul {
  margin: 0;
}

header .menu-container .list-container>ul>li {
  border-bottom: 1px solid #333;
}

header .menu-container .list-container>ul>li.social {
  border-bottom-width: 0;
}

header .menu-container .list-container>ul>li.social ul {
  display: block;
  margin: 0 auto;
  padding: 18px 0 8px;
  text-align: center;
}

header .menu-container .list-container>ul>li.social ul li {
  vertical-align: top;
}

header .menu-container .list-container>ul>li.social ul li a {
  line-height: 0;
  padding: 15px 10px;
  text-align: center;
  vertical-align: top;
  width: 28px;
}

header .menu-container .list-container>ul>li input[type=checkbox] {
  display: none;
}

header .menu-container .list-container>ul>li a {
  outline: 0 none;
}

header .menu-container .list-container>ul>li label {
  -webkit-text-size-adjust: none;
  color: #ccc;
  display: block;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: .05em;
  outline: 0 none;
  padding: 25px 10px;
  position: relative;
  text-decoration: none;
}

header .menu-container .list-container>ul>li label span {
  font-size: 14px;
  height: 18px;
  position: absolute;
  right: 12px;
  top: 26px;
  width: 12px;
}

header .menu-container .list-container>ul>li label span:before {
  content: "\ea0a";
  font-family: armyicons;
}

header .menu-container .list-container>ul>li ul li a {
  display: inline-block;
  text-decoration: none;
}

header .menu-container .quicklinks li {
  padding-top: 10px;
}

header .menu-container .quicklinks li a {
  background: #333;
  color: #ccc;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width:480px) {
  header .menu-container .list-container>ul>li ul {
    display: none;
    padding: 18px 0;
  }

  header .menu-container .list-container>ul>li ul li a {
    color: #ccc;
    padding: 10px 30px;
  }

  header .menu-container .list-container>ul>li input[type=checkbox]:checked~ul {
    display: block;
  }

  header .menu-container .list-container>ul>li input[type=checkbox]:checked~label {
    border-bottom: 1px solid #333;
  }

  header .menu-container .list-container>ul>li input[type=checkbox]:checked~label span:before {
    content: "\ea0b";
  }
}

@media (min-width:481px) and (max-width:699px) {
  header .menu-container .list-container>ul>li ul {
    display: none;
    padding: 18px 0;
  }

  header .menu-container .list-container>ul>li ul li a {
    color: #ccc;
    padding: 10px 30px;
  }

  header .menu-container .list-container>ul>li input[type=checkbox]:checked~ul {
    display: block;
  }

  header .menu-container .list-container>ul>li input[type=checkbox]:checked~label {
    border-bottom: 1px solid #333;
  }

  header .menu-container .list-container>ul>li input[type=checkbox]:checked~label span:before {
    content: "\ea0b";
  }
}

@media (min-width:700px) and (max-width:768px) {
  header .menu-container .list-container>ul>li ul {
    display: none;
    padding: 18px 0;
  }

  header .menu-container .list-container>ul>li ul li a {
    color: #ccc;
    padding: 10px 30px;
  }

  header .menu-container .list-container>ul>li input[type=checkbox]:checked~ul {
    display: block;
  }

  header .menu-container .list-container>ul>li input[type=checkbox]:checked~label {
    border-bottom: 1px solid #333;
  }

  header .menu-container .list-container>ul>li input[type=checkbox]:checked~label span:before {
    content: "\ea0b";
  }
}

@media (max-width:480px) {
  header .menu-container .quicklinks li {
    text-align: center;
  }

  header .menu-container .quicklinks li a {
    font-size: .813em;
    margin: 0 auto;
    padding: 25px 0;
  }
}

@media (min-width:481px) and (max-width:699px) {
  header .menu-container .quicklinks {
    zoom: 1;
    margin-left: -15px;
    margin-right: -15px;
  }

  header .menu-container .quicklinks:after,  header .menu-container .quicklinks:before {
    content: "";
    display: table;
  }

  header .menu-container .quicklinks:after {
    clear: both;
  }

  header .menu-container .quicklinks *,  header .menu-container .quicklinks :after,  header .menu-container .quicklinks :before {
    box-sizing: border-box;
  }

  header .menu-container .quicklinks li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 50%;
  }

  header .menu-container .quicklinks li:nth-child(2n+3) {
    clear: left;
  }

  header .menu-container .quicklinks li:nth-child(2n) {
    padding-left: 5px;
  }

  header .menu-container .quicklinks li:nth-child(odd) {
    padding-right: 5px;
  }

  header .menu-container .quicklinks li a {
    font-size: .813em;
    margin: 0 auto;
    padding: 25px 0;
  }
}

@media (min-width:700px) and (max-width:768px) {
  header .menu-container .quicklinks {
    zoom: 1;
    margin-left: -15px;
    margin-right: -15px;
  }

  header .menu-container .quicklinks:after,  header .menu-container .quicklinks:before {
    content: "";
    display: table;
  }

  header .menu-container .quicklinks:after {
    clear: both;
  }

  header .menu-container .quicklinks *,  header .menu-container .quicklinks :after,  header .menu-container .quicklinks :before {
    box-sizing: border-box;
  }

  header .menu-container .quicklinks li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 50%;
  }

  header .menu-container .quicklinks li:nth-child(2n+3) {
    clear: left;
  }

  header .menu-container .quicklinks li:nth-child(2n) {
    padding-left: 5px;
  }

  header .menu-container .quicklinks li:nth-child(odd) {
    padding-right: 5px;
  }

  header .menu-container .quicklinks li a {
    font-size: .813em;
    margin: 0 auto;
    padding: 25px 0;
  }
}

@media (min-width:769px) and (max-width:992px) {
  header .menu-container .quicklinks {
    zoom: 1;
    margin-left: -15px;
    margin-right: -15px;
  }

  header .menu-container .quicklinks:after,  header .menu-container .quicklinks:before {
    content: "";
    display: table;
  }

  header .menu-container .quicklinks:after {
    clear: both;
  }

  header .menu-container .quicklinks *,  header .menu-container .quicklinks :after,  header .menu-container .quicklinks :before {
    box-sizing: border-box;
  }

  header .menu-container .quicklinks li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 50%;
  }

  header .menu-container .quicklinks li:nth-child(2n+3) {
    clear: left;
  }

  header .menu-container .quicklinks li:nth-child(2n) {
    padding-left: 5px;
  }

  header .menu-container .quicklinks li:nth-child(odd) {
    padding-right: 5px;
  }

  header .menu-container .quicklinks li a {
    font-size: .813em;
    margin: 0 auto;
    padding: 25px 0;
  }

  header .menu-container {
    padding: 60px;
  }

  header .menu-container .list-container>ul {
    display: table;
    margin-bottom: 1.25em;
    width: 100%;
  }

  header .menu-container .list-container>ul>li {
    border-bottom-width: 0;
    display: table-cell;
    vertical-align: top;
    width: 33.3333%;
  }

  header .menu-container .list-container>ul>li label {
    color: #ffcc01;
    padding: 0 0 15px;
  }

  header .menu-container .list-container>ul>li label span {
    background: #fff;
    background-image: none;
    bottom: 0;
    height: 1px;
    left: 0;
    right: auto;
    top: auto;
    width: 40px;
  }

  header .menu-container .list-container>ul>li label span:before {
    content: "";
  }

  header .menu-container .list-container>ul>li ul {
    padding: .469em 0 .781em;
  }

  header .menu-container .list-container>ul>li ul li a {
    color: #fff;
    padding: .469em 45px .469em 0;
    position: relative;
    transition: color .2s linear 0s;
  }

  header .menu-container .list-container>ul>li ul li a:after {
    color: #ffcc01;
    content: "\ea3c";
    filter: alpha(opacity=0);
    font-family: armyicons;
    height: 17px;
    margin-left: 30px;
    opacity: 0;
    position: absolute;
    transition: margin .2s linear 0s,opacity .2s linear 0s;
    width: 15px;
  }

  header .menu-container .list-container>ul>li ul li a:focus,  header .menu-container .list-container>ul>li ul li a:hover {
    color: #ffcc01;
  }

  header .menu-container .list-container>ul>li ul li a:focus:after,  header .menu-container .list-container>ul>li ul li a:hover:after {
    filter: alpha(opacity=100);
    margin-left: 10px;
    opacity: 1;
  }

  header .menu-container .list-container>ul>li.social ul {
    margin-left: -5px;
    max-width: 150px;
    padding: 0;
    text-align: left;
  }

  header .menu-container .list-container>ul>li.social ul li {
    line-height: 0;
    margin: 0 9px 24px 0;
    padding: 0;
  }

  header .menu-container .list-container>ul>li.social ul li a {
    padding: 3px 5px;
  }

  header .menu-container .list-container>ul>li.social ul li a:after {
    content: none;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  header .menu-container {
    padding: 60px;
  }

  header .menu-container .list-container>ul {
    display: table;
    margin-bottom: 1.25em;
    width: 100%;
  }

  header .menu-container .list-container>ul>li {
    border-bottom-width: 0;
    display: table-cell;
    vertical-align: top;
    width: 33.3333%;
  }

  header .menu-container .list-container>ul>li label {
    color: #ffcc01;
    padding: 0 0 15px;
  }

  header .menu-container .list-container>ul>li label span {
    background: #fff;
    background-image: none;
    bottom: 0;
    height: 1px;
    left: 0;
    right: auto;
    top: auto;
    width: 40px;
  }

  header .menu-container .list-container>ul>li label span:before {
    content: "";
  }

  header .menu-container .list-container>ul>li ul {
    padding: .469em 0 .781em;
  }

  header .menu-container .list-container>ul>li ul li a {
    color: #fff;
    padding: .469em 45px .469em 0;
    position: relative;
    transition: color .2s linear 0s;
  }

  header .menu-container .list-container>ul>li ul li a:after {
    color: #ffcc01;
    content: "\ea3c";
    filter: alpha(opacity=0);
    font-family: armyicons;
    height: 17px;
    margin-left: 30px;
    opacity: 0;
    position: absolute;
    transition: margin .2s linear 0s,opacity .2s linear 0s;
    width: 15px;
  }

  header .menu-container .list-container>ul>li ul li a:focus,  header .menu-container .list-container>ul>li ul li a:hover {
    color: #ffcc01;
  }

  header .menu-container .list-container>ul>li ul li a:focus:after,  header .menu-container .list-container>ul>li ul li a:hover:after {
    filter: alpha(opacity=100);
    margin-left: 10px;
    opacity: 1;
  }

  header .menu-container .list-container>ul>li.social ul {
    margin-left: -5px;
    max-width: 150px;
    padding: 0;
    text-align: left;
  }

  header .menu-container .list-container>ul>li.social ul li {
    line-height: 0;
    margin: 0 9px 24px 0;
    padding: 0;
  }

  header .menu-container .list-container>ul>li.social ul li a {
    padding: 3px 5px;
  }

  header .menu-container .list-container>ul>li.social ul li a:after {
    content: none;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  header .menu-container {
    padding: 60px;
  }

  header .menu-container .list-container>ul {
    display: table;
    margin-bottom: 1.25em;
    width: 100%;
  }

  header .menu-container .list-container>ul>li {
    border-bottom-width: 0;
    display: table-cell;
    vertical-align: top;
    width: 33.3333%;
  }

  header .menu-container .list-container>ul>li label {
    color: #ffcc01;
    padding: 0 0 15px;
  }

  header .menu-container .list-container>ul>li label span {
    background: #fff;
    background-image: none;
    bottom: 0;
    height: 1px;
    left: 0;
    right: auto;
    top: auto;
    width: 40px;
  }

  header .menu-container .list-container>ul>li label span:before {
    content: "";
  }

  header .menu-container .list-container>ul>li ul {
    padding: .469em 0 .781em;
  }

  header .menu-container .list-container>ul>li ul li a {
    color: #fff;
    padding: .469em 45px .469em 0;
    position: relative;
    transition: color .2s linear 0s;
  }

  header .menu-container .list-container>ul>li ul li a:after {
    color: #ffcc01;
    content: "\ea3c";
    filter: alpha(opacity=0);
    font-family: armyicons;
    height: 17px;
    margin-left: 30px;
    opacity: 0;
    position: absolute;
    transition: margin .2s linear 0s,opacity .2s linear 0s;
    width: 15px;
  }

  header .menu-container .list-container>ul>li ul li a:focus,  header .menu-container .list-container>ul>li ul li a:hover {
    color: #ffcc01;
  }

  header .menu-container .list-container>ul>li ul li a:focus:after,  header .menu-container .list-container>ul>li ul li a:hover:after {
    filter: alpha(opacity=100);
    margin-left: 10px;
    opacity: 1;
  }

  header .menu-container .list-container>ul>li.social ul {
    margin-left: -5px;
    max-width: 150px;
    padding: 0;
    text-align: left;
  }

  header .menu-container .list-container>ul>li.social ul li {
    line-height: 0;
    margin: 0 9px 24px 0;
    padding: 0;
  }

  header .menu-container .list-container>ul>li.social ul li a {
    padding: 3px 5px;
  }

  header .menu-container .list-container>ul>li.social ul li a:after {
    content: none;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  header .menu-container {
    padding: 60px;
  }

  header .menu-container .list-container>ul {
    display: table;
    margin-bottom: 1.25em;
    width: 100%;
  }

  header .menu-container .list-container>ul>li {
    border-bottom-width: 0;
    display: table-cell;
    vertical-align: top;
    width: 33.3333%;
  }

  header .menu-container .list-container>ul>li label {
    color: #ffcc01;
    padding: 0 0 15px;
  }

  header .menu-container .list-container>ul>li label span {
    background: #fff;
    background-image: none;
    bottom: 0;
    height: 1px;
    left: 0;
    right: auto;
    top: auto;
    width: 40px;
  }

  header .menu-container .list-container>ul>li label span:before {
    content: "";
  }

  header .menu-container .list-container>ul>li ul {
    padding: .469em 0 .781em;
  }

  header .menu-container .list-container>ul>li ul li a {
    color: #fff;
    padding: .469em 45px .469em 0;
    position: relative;
    transition: color .2s linear 0s;
  }

  header .menu-container .list-container>ul>li ul li a:after {
    color: #ffcc01;
    content: "\ea3c";
    filter: alpha(opacity=0);
    font-family: armyicons;
    height: 17px;
    margin-left: 30px;
    opacity: 0;
    position: absolute;
    transition: margin .2s linear 0s,opacity .2s linear 0s;
    width: 15px;
  }

  header .menu-container .list-container>ul>li ul li a:focus,  header .menu-container .list-container>ul>li ul li a:hover {
    color: #ffcc01;
  }

  header .menu-container .list-container>ul>li ul li a:focus:after,  header .menu-container .list-container>ul>li ul li a:hover:after {
    filter: alpha(opacity=100);
    margin-left: 10px;
    opacity: 1;
  }

  header .menu-container .list-container>ul>li.social ul {
    margin-left: -5px;
    max-width: 150px;
    padding: 0;
    text-align: left;
  }

  header .menu-container .list-container>ul>li.social ul li {
    line-height: 0;
    margin: 0 9px 24px 0;
    padding: 0;
  }

  header .menu-container .list-container>ul>li.social ul li a {
    padding: 3px 5px;
  }

  header .menu-container .list-container>ul>li.social ul li a:after {
    content: none;
  }
}

@media (min-width:1601px) {
  header .menu-container {
    padding: 60px;
  }

  header .menu-container .list-container>ul {
    display: table;
    margin-bottom: 1.25em;
    width: 100%;
  }

  header .menu-container .list-container>ul>li {
    border-bottom-width: 0;
    display: table-cell;
    vertical-align: top;
    width: 33.3333%;
  }

  header .menu-container .list-container>ul>li label {
    color: #ffcc01;
    padding: 0 0 15px;
  }

  header .menu-container .list-container>ul>li label span {
    background: #fff;
    background-image: none;
    bottom: 0;
    height: 1px;
    left: 0;
    right: auto;
    top: auto;
    width: 40px;
  }

  header .menu-container .list-container>ul>li label span:before {
    content: "";
  }

  header .menu-container .list-container>ul>li ul {
    padding: .469em 0 .781em;
  }

  header .menu-container .list-container>ul>li ul li a {
    color: #fff;
    padding: .469em 45px .469em 0;
    position: relative;
    transition: color .2s linear 0s;
  }

  header .menu-container .list-container>ul>li ul li a:after {
    color: #ffcc01;
    content: "\ea3c";
    filter: alpha(opacity=0);
    font-family: armyicons;
    height: 17px;
    margin-left: 30px;
    opacity: 0;
    position: absolute;
    transition: margin .2s linear 0s,opacity .2s linear 0s;
    width: 15px;
  }

  header .menu-container .list-container>ul>li ul li a:focus,  header .menu-container .list-container>ul>li ul li a:hover {
    color: #ffcc01;
  }

  header .menu-container .list-container>ul>li ul li a:focus:after,  header .menu-container .list-container>ul>li ul li a:hover:after {
    filter: alpha(opacity=100);
    margin-left: 10px;
    opacity: 1;
  }

  header .menu-container .list-container>ul>li.social ul {
    margin-left: -5px;
    max-width: 150px;
    padding: 0;
    text-align: left;
  }

  header .menu-container .list-container>ul>li.social ul li {
    line-height: 0;
    margin: 0 9px 24px 0;
    padding: 0;
  }

  header .menu-container .list-container>ul>li.social ul li a {
    padding: 3px 5px;
  }

  header .menu-container .list-container>ul>li.social ul li a:after {
    content: none;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  header .menu-container .list-container {
    float: left;
    width: 80%;
  }

  header .menu-container .quicklinks {
    float: left;
    width: 20%;
  }

  header .menu-container .quicklinks li:first-child {
    padding-top: 0;
  }

  header .menu-container .quicklinks li a {
    font-size: .938em;
    font-weight: 700;
    outline: 0 none;
    padding: 20px;
    position: relative;
    transition: background .2s linear 0s,color .2s linear 0s;
  }

  header .menu-container .quicklinks li a:focus,  header .menu-container .quicklinks li a:hover {
    background: #2a2a2a;
    color: #ffcc01;
  }

  header .menu-container .quicklinks li a:after {
    color: #ffcc01;
    content: "\ea3c";
    font-family: armyicons;
    font-size: 16px;
    height: 17px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  header .menu-container .list-container {
    float: left;
    width: 80%;
  }

  header .menu-container .quicklinks {
    float: left;
    width: 20%;
  }

  header .menu-container .quicklinks li:first-child {
    padding-top: 0;
  }

  header .menu-container .quicklinks li a {
    font-size: .938em;
    font-weight: 700;
    outline: 0 none;
    padding: 20px;
    position: relative;
    transition: background .2s linear 0s,color .2s linear 0s;
  }

  header .menu-container .quicklinks li a:focus,  header .menu-container .quicklinks li a:hover {
    background: #2a2a2a;
    color: #ffcc01;
  }

  header .menu-container .quicklinks li a:after {
    color: #ffcc01;
    content: "\ea3c";
    font-family: armyicons;
    font-size: 16px;
    height: 17px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  header .menu-container .list-container {
    float: left;
    width: 80%;
  }

  header .menu-container .quicklinks {
    float: left;
    width: 20%;
  }

  header .menu-container .quicklinks li:first-child {
    padding-top: 0;
  }

  header .menu-container .quicklinks li a {
    font-size: .938em;
    font-weight: 700;
    outline: 0 none;
    padding: 20px;
    position: relative;
    transition: background .2s linear 0s,color .2s linear 0s;
  }

  header .menu-container .quicklinks li a:focus,  header .menu-container .quicklinks li a:hover {
    background: #2a2a2a;
    color: #ffcc01;
  }

  header .menu-container .quicklinks li a:after {
    color: #ffcc01;
    content: "\ea3c";
    font-family: armyicons;
    font-size: 16px;
    height: 17px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
  }
}

@media (min-width:1601px) {
  header .menu-container .list-container {
    float: left;
    width: 80%;
  }

  header .menu-container .quicklinks {
    float: left;
    width: 20%;
  }

  header .menu-container .quicklinks li:first-child {
    padding-top: 0;
  }

  header .menu-container .quicklinks li a {
    font-size: .938em;
    font-weight: 700;
    outline: 0 none;
    padding: 20px;
    position: relative;
    transition: background .2s linear 0s,color .2s linear 0s;
  }

  header .menu-container .quicklinks li a:focus,  header .menu-container .quicklinks li a:hover {
    background: #2a2a2a;
    color: #ffcc01;
  }

  header .menu-container .quicklinks li a:after {
    color: #ffcc01;
    content: "\ea3c";
    font-family: armyicons;
    font-size: 16px;
    height: 17px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  header .menu-container .list-container {
    width: 75%;
  }

  header .menu-container .quicklinks {
    width: 25%;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  header .menu-container .list-container {
    width: 78%;
  }

  header .menu-container .quicklinks {
    width: 22%;
  }
}

@keyframes slideInDown {
  0% {
    transform: translate3d(0,-100%,0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0,100%,0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

nav {
  background: #e5e5e5;
  position: relative;
  z-index: 1;
}

nav ul {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}

nav ul::-webkit-scrollbar {
  display: none;
}

nav ul:before {
  background-color: #b3b3b3;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  margin: 0 25px;
}

@media (max-width:480px) {
  nav ul li {
    margin: 0 10px;
  }
}

nav ul li a {
  display: block;
  line-height: 56px;
  position: relative;
  text-transform: uppercase;
}

nav ul li a,nav ul li a:hover {
  text-decoration: none;
}

nav ul li a:after {
  background: #ffcc01;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 0;
  z-index: 1;
}

nav ul li a.active:after {
  width: 100%;
}

nav .subnav-container {
  max-height: 56px;
  overflow: hidden;
}

nav .subnav-container ul {
  overflow: hidden;
  white-space: normal;
}

nav .subnav-container ul.container {
  margin: 0 auto;
}

nav input[type=checkbox] {
  display: none;
}

nav .subnav-inner {
  max-height: 112px;
  position: relative;
}

nav label {
  background: #e5e5e5;
  bottom: 56px;
  cursor: pointer;
  left: -15px;
  line-height: 56px;
  max-height: 56px;
  position: absolute;
  right: -15px;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

nav label:before {
  background-color: #b3b3b3;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

nav label:after {
  content: "\e90d";
  display: inline-block;
  font-family: armyicons;
  font-size: .85em;
  margin: 2px 0 2px 10px;
  transform: rotate(90deg);
}

nav input[type=checkbox]:checked~.subnav-container {
  max-height: none;
}

nav input[type=checkbox]:checked~.subnav-container .subnav-inner {
  background: #f2f2f2;
  height: auto;
  max-height: none;
  padding: 101px 0 30px;
}

nav input[type=checkbox]:checked~.subnav-container .subnav-inner ul:before {
  display: none;
}

nav input[type=checkbox]:checked~.subnav-container .subnav-inner li {
  display: inline-block;
  margin: 0 auto 15px;
  padding: 0 8px;
}

nav input[type=checkbox]:checked~.subnav-container .subnav-inner li a.active:after {
  display: none;
}

nav input[type=checkbox]:checked~.subnav-container .subnav-inner li a {
  background: #fff;
  border: 1px solid #b3b3b3;
  line-height: 47px;
  padding: 3px 20px 0;
  text-align: left;
  transition: background .25s ease;
}

nav input[type=checkbox]:checked~.subnav-container .subnav-inner li a:after {
  display: none;
}

nav input[type=checkbox]:checked~.subnav-container .subnav-inner li a.active,nav input[type=checkbox]:checked~.subnav-container .subnav-inner li a:hover {
  background-color: #ffcc01;
  outline: none;
}

@media (max-width:480px) {
  nav input[type=checkbox]:checked~.subnav-container .subnav-inner li {
    display: block;
    padding: 0;
  }

  nav input[type=checkbox]:checked~.subnav-container .subnav-inner li a {
    padding: 3px 35px 0;
  }
}

nav input[type=checkbox]:checked~.subnav-container label {
  bottom: auto;
  top: 0;
}

nav input[type=checkbox]:checked~.subnav-container label:after {
  transform: rotate(-90deg);
}

@media (min-width:769px) and (max-width:992px) {
  nav ul li a:after {
    transition: width .25s ease;
  }

  nav ul li a:hover:after {
    width: 100%;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  nav ul li a:after {
    transition: width .25s ease;
  }

  nav ul li a:hover:after {
    width: 100%;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  nav ul li a:after {
    transition: width .25s ease;
  }

  nav ul li a:hover:after {
    width: 100%;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  nav ul li a:after {
    transition: width .25s ease;
  }

  nav ul li a:hover:after {
    width: 100%;
  }
}

@media (min-width:1601px) {
  nav ul li a:after {
    transition: width .25s ease;
  }

  nav ul li a:hover:after {
    width: 100%;
  }
}

.subnav-selectable {
  display: none;
}

.subnav-selectable.subnav-selected {
  display: block;
}

.social {
  color: #fff;
  text-align: center;
}

.social .social-button {
  display: inline-block;
}

.social .social-button a {
  display: block;
  line-height: 0;
  padding: 15px 16px;
  width: 37px;
}

#social-id .social-button {
  padding: 15px 10px;
}

@media (min-width:481px) and (max-width:699px) {
  #social-id .social-button {
    padding: 15px 16px;
  }
}

@media (min-width:700px) and (max-width:768px) {
  #social-id .social-button {
    padding: 15px 16px;
  }
}

@media (min-width:769px) and (max-width:992px) {
  #social-id .social-button {
    padding: 15px 16px;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  #social-id .social-button {
    padding: 15px 16px;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  #social-id .social-button {
    padding: 15px 16px;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  #social-id .social-button {
    padding: 15px 16px;
  }
}

@media (min-width:1601px) {
  #social-id .social-button {
    padding: 15px 16px;
  }
}

#social-id .social-button a {
  padding: 0;
}

.social-bar {
  background-color: #57584f;
  bottom: 0;
  height: 50px;
  left: 0;
  position: fixed;
  text-align: center;
  transition: bottom .5s;
  visibility: visible;
  width: 100%;
  z-index: 1;
}

.social-bar .hidden {
  display: none;
}

.social-bar .social-button {
  float: left;
  height: 100%;
  width: 20%;
}

.social-bar a {
  padding: 15px;
}

.social-bar ul {
  height: 100%;
  overflow: hidden;
}

.alt-social-bar .social-button a,.social-bar .social-button a {
  display: block;
  line-height: 0;
}

.alt-social-bar ul li,.social-bar ul li {
  list-style-type: none;
  padding: 0;
}

.alt-social-bar {
  display: none;
  margin: 35px 0 0;
  overflow: hidden;
}

@media (min-width:769px) and (max-width:992px) {
  .social-bar {
    display: none;
  }

  .alt-social-bar {
    display: block;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .social-bar {
    display: none;
  }

  .alt-social-bar {
    display: block;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .social-bar {
    display: none;
  }

  .alt-social-bar {
    display: block;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .social-bar {
    display: none;
  }

  .alt-social-bar {
    display: block;
  }
}

@media (min-width:1601px) {
  .social-bar {
    display: none;
  }

  .alt-social-bar {
    display: block;
  }
}

.main {
  background: #fff;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@media (min-width:769px) and (max-width:992px) {
  .main {
    margin-bottom: 13.75em;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .main {
    margin-bottom: 13.75em;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .main {
    margin-bottom: 13.75em;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .main {
    margin-bottom: 13.75em;
  }
}

@media (min-width:1601px) {
  .main {
    margin-bottom: 13.75em;
  }
}

footer {
  background: #221f20;
  bottom: 0;
  font-family: GI,sans-serif;
  left: 0;
  padding: 60px 0;
  position: fixed;
  width: 100%;
  z-index: 0;
}

@media (max-width:480px) {
  footer {
    position: relative;
  }
}

@media (min-width:481px) and (max-width:699px) {
  footer {
    position: relative;
  }
}

@media (min-width:700px) and (max-width:768px) {
  footer {
    position: relative;
  }
}

footer section {
  margin: 0;
}

footer section a {
  outline: 0 none;
}

footer .footer-bottom {
  font-size: .84em;
  padding: 25px 0 0;
  text-align: center;
  text-transform: uppercase;
}

footer .footer-bottom ul li {
  display: inline-block;
  margin: 0 10px;
}

footer .footer-bottom ul a {
  color: #fff;
  display: inline-block;
  line-height: 2.5;
  position: relative;
  text-decoration: none;
}

footer .footer-bottom ul a:after {
  background: #fff;
  bottom: 2px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition: width .25s ease;
  width: 0;
}

@media (min-width:769px) and (max-width:992px) {
  footer .footer-bottom ul li a {
    line-height: normal;
  }

  footer .footer-bottom ul li a:focus:after,  footer .footer-bottom ul li a:hover:after {
    width: 100%;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  footer .footer-bottom ul li a {
    line-height: normal;
  }

  footer .footer-bottom ul li a:focus:after,  footer .footer-bottom ul li a:hover:after {
    width: 100%;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  footer .footer-bottom ul li a {
    line-height: normal;
  }

  footer .footer-bottom ul li a:focus:after,  footer .footer-bottom ul li a:hover:after {
    width: 100%;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  footer .footer-bottom ul li a {
    line-height: normal;
  }

  footer .footer-bottom ul li a:focus:after,  footer .footer-bottom ul li a:hover:after {
    width: 100%;
  }
}

@media (min-width:1601px) {
  footer .footer-bottom ul li a {
    line-height: normal;
  }

  footer .footer-bottom ul li a:focus:after,  footer .footer-bottom ul li a:hover:after {
    width: 100%;
  }
}

.links-list {
  margin-bottom: 1.625em;
  margin-left: -15px;
  margin-right: -15px;
}

.links-list ul {
  padding: 0;
}

.links-list ul li {
  line-height: 1.375em;
  list-style-type: disc;
  margin: 0 0 14px 18px;
  padding: 0 0 0 5px;
}

.links-list ul li:last-child {
  margin-bottom: 0;
}

.links-list ul li ul {
  padding: 14px 0 5px;
}

.links-list {
  zoom: 1;
}

.links-list:after,.links-list:before {
  content: "";
  display: table;
}

.links-list:after {
  clear: both;
}

.links-list:last-child {
  margin-bottom: 0;
}

.links-list>ul {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.links-list>ul[class$=column] {
  margin-bottom: 14px;
}

.links-list>ul:last-child {
  margin-bottom: 0;
}

@media (min-width:769px) and (max-width:992px) {
  .links-list>ul[class$=column] {
    float: left;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .links-list>ul[class$=column] {
    float: left;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .links-list>ul[class$=column] {
    float: left;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .links-list>ul[class$=column] {
    float: left;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
}

@media (min-width:1601px) {
  .links-list>ul[class$=column] {
    float: left;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
}

.links-list ul li a {
  font-weight: 400;
  position: relative;
  top: 2px;
}

@keyframes grow {
  0% {
    max-height: 0;
  }

  99% {
    max-height: 1000px;
  }

  to {
    max-height: 1000000px;
  }
}

@keyframes shrink {
  0% {
    max-height: 1000000px;
  }

  1% {
    max-height: 1000px;
  }

  to {
    max-height: 0;
  }
}

.news {
  overflow: hidden;
}

.news h4 {
  margin-top: 0;
}

.news ul li.hidden {
  margin: 0;
}

.news ul li a {
  display: block;
  outline: 0 none;
  overflow: hidden;
  position: relative;
}

.news ul li a:after {
  background: #ffcc01;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transition: transform .25s ease;
  width: 100%;
  z-index: 2;
}

.news ul li a:focus,.news ul li a:hover {
  text-decoration: none;
}

.news ul li img {
  bottom: -2000px;
  margin: auto;
  position: absolute;
  top: -2000px;
  width: 100%;
}

@media (min-width:769px) and (max-width:992px) {
  .news ul li a .image:before {
    background-color: #221f20;
    content: "";
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .25s ease 0s;
    width: 100%;
    z-index: 1;
  }

  .news ul li a:focus .image:before,  .news ul li a:hover .image:before {
    filter: alpha(opacity=25);
    opacity: .25;
  }

  .news ul li a:focus img,  .news ul li a:hover img {
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .news ul li a .image:before {
    background-color: #221f20;
    content: "";
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .25s ease 0s;
    width: 100%;
    z-index: 1;
  }

  .news ul li a:focus .image:before,  .news ul li a:hover .image:before {
    filter: alpha(opacity=25);
    opacity: .25;
  }

  .news ul li a:focus img,  .news ul li a:hover img {
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .news ul li a .image:before {
    background-color: #221f20;
    content: "";
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .25s ease 0s;
    width: 100%;
    z-index: 1;
  }

  .news ul li a:focus .image:before,  .news ul li a:hover .image:before {
    filter: alpha(opacity=25);
    opacity: .25;
  }

  .news ul li a:focus img,  .news ul li a:hover img {
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .news ul li a .image:before {
    background-color: #221f20;
    content: "";
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .25s ease 0s;
    width: 100%;
    z-index: 1;
  }

  .news ul li a:focus .image:before,  .news ul li a:hover .image:before {
    filter: alpha(opacity=25);
    opacity: .25;
  }

  .news ul li a:focus img,  .news ul li a:hover img {
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
  }
}

@media (min-width:1601px) {
  .news ul li a .image:before {
    background-color: #221f20;
    content: "";
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .25s ease 0s;
    width: 100%;
    z-index: 1;
  }

  .news ul li a:focus .image:before,  .news ul li a:hover .image:before {
    filter: alpha(opacity=25);
    opacity: .25;
  }

  .news ul li a:focus img,  .news ul li a:hover img {
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
  }
}

.news ul li .image {
  background: #221f20;
  display: block;
  height: 0;
  padding: 66.25% 0 0;
  position: relative;
  z-index: 0;
}

.news ul li .title {
  color: #4c4c4c;
  font: 600 1em/1.3em GI,sans-serif;
  padding: 20px 15px 5px;
}

.news ul li .title {
  display: block;
  text-align: center;
}

@media (min-width:769px) and (max-width:992px) {
  .news ul li a:focus:after,  .news ul li a:hover:after {
    transform: translateX(0);
    -ms-transform: translateX(0);
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .news ul li a:focus:after,  .news ul li a:hover:after {
    transform: translateX(0);
    -ms-transform: translateX(0);
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .news ul li a:focus:after,  .news ul li a:hover:after {
    transform: translateX(0);
    -ms-transform: translateX(0);
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .news ul li a:focus:after,  .news ul li a:hover:after {
    transform: translateX(0);
    -ms-transform: translateX(0);
  }
}

@media (min-width:1601px) {
  .news ul li a:focus:after,  .news ul li a:hover:after {
    transform: translateX(0);
    -ms-transform: translateX(0);
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .news ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .news ul li {
    flex: 0 0 33.33333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .news ul li .title {
    font: 600 1.125em/1.4em GI,sans-serif;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .news ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .news ul li {
    flex: 0 0 33.33333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .news ul li .title {
    font: 600 1.125em/1.4em GI,sans-serif;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .news ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .news ul li {
    flex: 0 0 33.33333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .news ul li .title {
    font: 600 1.125em/1.4em GI,sans-serif;
  }
}

@media (min-width:1601px) {
  .news ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .news ul li {
    flex: 0 0 33.33333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .news ul li .title {
    font: 600 1.125em/1.4em GI,sans-serif;
  }
}

@media (min-width:700px) and (max-width:768px) {
  .news ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .news ul li {
    flex: 0 0 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width:769px) and (max-width:992px) {
  .news ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .news ul li {
    flex: 0 0 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width:481px) and (max-width:699px) {
  .news {
    margin: 0 auto;
    max-width: 446px;
  }

  .news ul li {
    margin-top: 15px;
  }

  .news ul li:first-child {
    margin-top: 0;
  }
}

@media (max-width:480px) {
  .news {
    margin: 0 auto;
    max-width: 446px;
  }

  .news ul li {
    margin-top: 15px;
  }

  .news ul li:first-child {
    margin-top: 0;
  }
}

.container .inner-container .news {
  position: relative;
}

.leaders li {
  align-items: center;
  border: 2px solid #7f7f7f;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.leaders li:last-child {
  margin: 0;
}

.leaders li .leaders-img {
  max-width: 100%;
  min-width: 100px;
}

.leaders li .leaders-content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.leaders li .leaders-text {
  flex-grow: 1;
  text-align: center;
  width: 100%;
}

.leaders li .leaders-text .leaders-title {
  color: #221f20;
  font: 700 1.313em GI,sans-serif;
}

@media (min-width:481px) and (max-width:699px) {
  .leaders li {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .leaders li .leaders-img {
    flex-shrink: 0;
    width: 100px;
  }

  .leaders li .leaders-content {
    width: auto;
  }

  .leaders li .leaders-text {
    text-align: left;
  }

  .leaders li .leaders-content .leaders-text {
    text-align: center;
  }
}

@media (min-width:700px) and (max-width:768px) {
  .leaders li {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .leaders li .leaders-img {
    flex-shrink: 0;
    width: 100px;
  }

  .leaders li .leaders-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
  }

  .leaders li .leaders-text {
    text-align: left;
    width: auto;
  }
}

@media (min-width:769px) and (max-width:992px) {
  .leaders li {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .leaders li .leaders-img {
    flex-shrink: 0;
    width: 100px;
  }

  .leaders li .leaders-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
  }

  .leaders li .leaders-text {
    text-align: left;
    width: auto;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .leaders li {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .leaders li .leaders-img {
    flex-shrink: 0;
    width: 100px;
  }

  .leaders li .leaders-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
  }

  .leaders li .leaders-text {
    text-align: left;
    width: auto;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .leaders li {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .leaders li .leaders-img {
    flex-shrink: 0;
    width: 100px;
  }

  .leaders li .leaders-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
  }

  .leaders li .leaders-text {
    text-align: left;
    width: auto;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .leaders li {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .leaders li .leaders-img {
    flex-shrink: 0;
    width: 100px;
  }

  .leaders li .leaders-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
  }

  .leaders li .leaders-text {
    text-align: left;
    width: auto;
  }
}

@media (min-width:1601px) {
  .leaders li {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .leaders li .leaders-img {
    flex-shrink: 0;
    width: 100px;
  }

  .leaders li .leaders-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
  }

  .leaders li .leaders-text {
    text-align: left;
    width: auto;
  }
}

.page-banner {
  background-color: #221f20;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.page-banner .container {
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.page-banner .container .inner-container {
  margin: 35px auto;
}

.page-banner .container .inner-container .left-container {
  text-align: center;
  text-shadow: 2px 2px 3px #221f20;
}

.page-banner .container .inner-container .max-width-container {
  max-width: 450px;
  min-width: 150px;
}

.page-banner .container .inner-container h1 {
  color: #ffcc01;
  font: 700 1.875em/1 GI,sans-serif;
  padding-bottom: 3px;
  text-transform: uppercase;
}

.page-banner .container .inner-container h1 a {
  color: #ffcc01;
  font-weight: 700;
  text-decoration: none;
}

.page-banner .container .inner-container h2 {
  color: #fff;
  font: 400 1.125em GI,sans-serif;
  margin: 0;
}

.page-banner .container .inner-container h2 a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.page-banner .container .inner-container p {
  margin: 0;
  padding: .4em 0 0;
}

.page-banner .container .inner-container ul.social-links {
  border-top: 1px solid;
  font-size: 0;
  margin-top: 12px;
  padding-top: 12px;
}

.page-banner .container .inner-container ul.social-links li.social-button {
  display: inline-block;
}

.page-banner .container .inner-container ul.social-links li.social-button a {
  display: block;
  padding: 5px 10px;
}

.page-banner .container .inner-container ul.social-links li.social-button a span {
  display: block;
}

.page-banner .container .logo {
  line-height: 0;
  margin-bottom: 20px;
}

@media (min-width:481px) {
  .page-banner .container .inner-container {
    display: table;
    width: 100%;
  }

  .page-banner .container .inner-container .left-container {
    display: table-cell;
    height: 175px;
    vertical-align: middle;
  }

  .page-banner .container .inner-container h1 {
    font-size: 2.25em;
  }

  .page-banner .container .inner-container h2 {
    font-size: 1.25em;
  }

  .page-banner .container .inner-container .left-container,  .page-banner .container .inner-container h1,  .page-banner .container .inner-container h2 {
    text-align: left;
  }
}

@media (min-width:769px) {
  .page-banner .container .inner-container h1 {
    font-size: 2.5em;
  }

  .page-banner .container .inner-container h2 {
    font-size: 1.5em;
  }
}

@media (min-width:769px) and (max-width:992px) {
  .page-banner .container {
    max-width: 740px;
  }
}

@media (min-width:700px) and (max-width:768px) {
  .page-banner .container {
    max-width: 670px;
  }
}

.rich-text-element p,.rich-text-element ul {
  font-size: 1.125em;
  margin: 1.4em 0;
}

.rich-text-element ul {
  padding-left: 1em;
}

.rich-text-element ul ul {
  font-size: inherit;
}

.rich-text-element ul li {
  margin: 0 0 .5em;
}

.rich-text-element ul li {
  list-style-type: disc;
  margin-left: 1.2em;
  padding-left: .8em;
}

.rich-text-element ul li:before {
  display: none;
}

.rich-text-element h2 {
  font-size: 1.875em;
  font-weight: 600;
  line-height: 1.333em;
  margin: .675em 0;
  text-align: left;
  text-transform: none;
}

@media (min-width:993px) and (max-width:1155px) {
  .rich-text-element h2 {
    font-size: 2.25em;
    line-height: 1.333em;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .rich-text-element h2 {
    font-size: 2.25em;
    line-height: 1.333em;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .rich-text-element h2 {
    font-size: 2.25em;
    line-height: 1.333em;
  }
}

@media (min-width:1601px) {
  .rich-text-element h2 {
    font-size: 2.25em;
    line-height: 1.333em;
  }
}

.rich-text-element h5 {
  font-size: 1.313em;
  font-weight: 600;
  line-height: 1.4em;
  margin: 1em 0;
  text-align: left;
  text-transform: none;
}

@media (min-width:700px) and (max-width:768px) {
  .rich-text-element h5 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

@media (min-width:769px) and (max-width:992px) {
  .rich-text-element h5 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .rich-text-element h5 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .rich-text-element h5 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .rich-text-element h5 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

@media (min-width:1601px) {
  .rich-text-element h5 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

.page-banner.org-banner .logo {
  margin-bottom: 15px;
  text-align: center;
}

.page-banner.org-banner .logo:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.page-banner.org-banner .logo img {
  display: inline-block;
  max-height: 126px;
  max-width: 100%;
  vertical-align: middle;
}

@media (min-width:700px) {
  .page-banner.org-banner .logo {
    bottom: 20px;
    font-size: 0;
    margin: 0;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 20px;
    width: 200px;
  }

  .page-banner.org-banner .logo img {
    height: 175px;
    max-height: 100%;
  }
}

@media (min-width:769px) {
  .page-banner.org-banner .logo {
    right: 30px;
  }
}

@media (min-width:993px) {
  .page-banner.org-banner .logo {
    bottom: 35px;
    top: 35px;
  }
}

@media (min-width:481px) and (max-width:699px) {
  .page-banner.org-banner .inner-container .left-container,  .page-banner.org-banner .inner-container h1,  .page-banner.org-banner .inner-container h2 {
    text-align: center;
  }

  .page-banner.org-banner .inner-container .left-container {
    display: block;
    height: auto;
  }

  .page-banner.org-banner .inner-container .max-width-container {
    margin: 0 auto;
  }
}

@media (min-width:700px) {
  .page-banner.org-banner .inner-container .left-container {
    padding-right: 250px;
  }

  .page-banner.org-banner .inner-container ul.social-links li.social-button:first-child a {
    padding: 5px 10px 5px 0;
  }
}

#lightbox {
  background-color: rgba(0,0,0,.9);
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}

#lightbox.is-visible {
  display: block;
}

#lightbox.hidden {
  display: none;
}

#lightbox a.thumbnail {
  left: 0;
  padding: 30px 15px 15px 30px;
  position: absolute;
  top: 0;
}

#lightbox a.thumbnail span.thumbnail-button {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -51px -71px;
  display: block;
  height: 22px;
  width: 22px;
}

#lightbox a.thumbnail:hover span.thumbnail-button {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -115px -71px;
}

#lightbox a.single-view {
  left: 0;
  padding: 30px 15px 15px 30px;
  position: absolute;
  top: 0;
}

#lightbox a.single-view span.single-view-button {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -73px -71px;
  display: block;
  height: 22px;
  width: 22px;
}

#lightbox a.single-view:hover span.single-view-button {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -137px -71px;
}

#lightbox span.image-index {
  color: #fff;
  left: calc(50% - 113px);
  padding: 30px 15px 15px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100px;
}

#lightbox a.download {
  left: calc(50% - 13px);
  padding: 30px 15px 15px;
  position: absolute;
  top: 0;
}

#lightbox a.download span.download-button {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -30px -71px;
  display: block;
  height: 22px;
  width: 22px;
}

#lightbox a.download:hover span.download-button {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -94px -71px;
}

#lightbox a.share {
  cursor: pointer;
  left: calc(50% + 40px);
  padding: 30px 15px 15px;
  position: absolute;
  top: 0;
}

#lightbox a.share span.share-button {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -160px -71px;
  display: block;
  height: 22px;
  width: 22px;
}

#lightbox a.share:hover span.share-button {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -182px -71px;
}

#lightbox a.close {
  padding: 30px 30px 15px 15px;
  position: absolute;
  right: 0;
  top: 0;
}

#lightbox a.close span {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -284px 0;
  display: block;
  height: 20px;
  width: 20px;
}

#lightbox .container {
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 2500px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

#lightbox .container .inner-container {
  bottom: 0;
  left: 0;
  margin: 82px 102px 20px;
  overflow: visible;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: auto;
}

@media (min-width:769px) and (max-width:992px) {
  #lightbox .container .inner-container {
    margin: 60px 0 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
  }
}

@media (min-width:700px) and (max-width:768px) {
  #lightbox .container .inner-container {
    margin: 60px 0 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
  }
}

@media (min-width:481px) and (max-width:699px) {
  #lightbox .container .inner-container {
    margin: 60px 0 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
  }
}

@media (max-width:480px) {
  #lightbox .container .inner-container {
    margin: 60px 0 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
  }
}

#lightbox .container .inner-container .navigation a.lb-button {
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//yH5BAEAA‌​AAALAAAAAABAAEAAAIBR‌​AA7") 0 0 repeat\9;
  display: block;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-100%);
  z-index: 3;
}

#lightbox .container .inner-container .navigation a.lb-button span {
  display: block;
  height: 12px;
  width: 10px;
}

#lightbox .container .inner-container .navigation a.lb-button#prev-button {
  border: 1px solid #fff;
  display: none;
  left: -72px;
}

@media (min-width:769px) and (max-width:992px) {
  #lightbox .container .inner-container .navigation a.lb-button#prev-button {
    left: 0;
    width: 52px;
  }
}

@media (min-width:700px) and (max-width:768px) {
  #lightbox .container .inner-container .navigation a.lb-button#prev-button {
    left: 0;
    width: 52px;
  }
}

@media (min-width:481px) and (max-width:699px) {
  #lightbox .container .inner-container .navigation a.lb-button#prev-button {
    left: 0;
    width: 52px;
  }
}

@media (max-width:480px) {
  #lightbox .container .inner-container .navigation a.lb-button#prev-button {
    left: 0;
    width: 52px;
  }
}

#lightbox .container .inner-container .navigation a.lb-button#prev-button span {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -122px -50px;
}

#lightbox .container .inner-container .navigation a.lb-button#next-button {
  border: 1px solid #fff;
  display: none;
  right: -72px;
}

@media (min-width:769px) and (max-width:992px) {
  #lightbox .container .inner-container .navigation a.lb-button#next-button {
    right: 0;
    width: 52px;
  }
}

@media (min-width:700px) and (max-width:768px) {
  #lightbox .container .inner-container .navigation a.lb-button#next-button {
    right: 0;
    width: 52px;
  }
}

@media (min-width:481px) and (max-width:699px) {
  #lightbox .container .inner-container .navigation a.lb-button#next-button {
    right: 0;
    width: 52px;
  }
}

@media (max-width:480px) {
  #lightbox .container .inner-container .navigation a.lb-button#next-button {
    right: 0;
    width: 52px;
  }
}

#lightbox .container .inner-container .navigation a.lb-button#next-button span {
  background: url(/images/rv7/mobile_redesign_sprite_icons_v3.svg) no-repeat -112px -50px;
}

#lightbox .container .inner-container .video-elem {
  left: 0;
  margin: auto;
  max-height: 550px;
  max-width: 952px;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width:992px) {
  #lightbox .container .inner-container .video-elem {
    left: 50%;
    margin-left: -476px;
    right: auto;
    width: 952px;
  }
}

@media (max-width:480px) {
  #lightbox .container .inner-container .video-elem {
    left: 3px;
    max-height: 400px;
    right: 3px;
  }
}

@media (min-width:481px) and (max-width:699px) {
  #lightbox .container .inner-container .video-elem {
    left: 3px;
    max-height: 400px;
    right: 3px;
  }
}

@media (max-width:480px) {
  #lightbox .container .inner-container .video-elem {
    max-height: 300px;
  }
}

#lightbox .container .inner-container .lb-img {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#lightbox .container .inner-container .lb-img .img-wrap {
  flex-grow: 1;
  position: relative;
}

#lightbox .container .inner-container .lb-img .img-wrap img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#lightbox .container .inner-container .lb-img .img-wrap img.current-elem {
  cursor: pointer;
  left: 0;
  opacity: 1;
  transition: left .5s linear;
  z-index: 2;
}

#lightbox .container .inner-container .lb-img .img-wrap img.prev-elem {
  left: calc(-200% - 204px);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

@media (min-width:769px) and (max-width:992px) {
  #lightbox .container .inner-container .lb-img .img-wrap img.prev-elem {
    position: absolute;
  }
}

@media (min-width:700px) and (max-width:768px) {
  #lightbox .container .inner-container .lb-img .img-wrap img.prev-elem {
    position: absolute;
  }
}

@media (min-width:481px) and (max-width:699px) {
  #lightbox .container .inner-container .lb-img .img-wrap img.prev-elem {
    position: absolute;
  }
}

@media (max-width:480px) {
  #lightbox .container .inner-container .lb-img .img-wrap img.prev-elem {
    position: absolute;
  }
}

#lightbox .container .inner-container .lb-img .img-wrap img.next-elem {
  left: calc(100% + 102px);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

@media (min-width:769px) and (max-width:992px) {
  #lightbox .container .inner-container .lb-img .img-wrap img.next-elem {
    position: absolute;
  }
}

@media (min-width:700px) and (max-width:768px) {
  #lightbox .container .inner-container .lb-img .img-wrap img.next-elem {
    position: absolute;
  }
}

@media (min-width:481px) and (max-width:699px) {
  #lightbox .container .inner-container .lb-img .img-wrap img.next-elem {
    position: absolute;
  }
}

@media (max-width:480px) {
  #lightbox .container .inner-container .lb-img .img-wrap img.next-elem {
    position: absolute;
  }
}

#lightbox .container .inner-container .lb-img .caption {
  max-height: 50%;
  text-align: left;
  transition: max-height .2s linear 0s;
  z-index: 2;
}

#lightbox .container .inner-container .lb-img .caption span.title {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

#lightbox .container .inner-container .lb-img .caption p {
  color: #fff;
  margin: 0 auto;
  max-width: 1020px;
  padding: 10px 10px 0;
  position: relative;
  z-index: 6;
}

#lightbox .container .inner-container .thumbnail-view ul li a {
  display: block;
  position: relative;
}

#lightbox .container .inner-container .thumbnail-view ul li a span.image {
  display: inline-block;
  max-width: 100%;
  position: relative;
}

#lightbox .container .inner-container .thumbnail-view ul li a span.image img {
  height: auto;
  vertical-align: bottom;
  width: 100%;
}

@media (min-width:1601px) {
  #lightbox .container .inner-container .thumbnail-view ul li {
    float: left;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 20%;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:nth-child(5n+6) {
    clear: left;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:nth-child(-n+5) {
    margin-top: 0;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  #lightbox .container .inner-container .thumbnail-view ul li {
    float: left;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:nth-child(4n+5) {
    clear: left;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:nth-child(-n+4) {
    margin-top: 0;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  #lightbox .container .inner-container .thumbnail-view ul li {
    float: left;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333333333%;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:nth-child(3n+4) {
    clear: left;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:nth-child(-n+3) {
    margin-top: 0;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  #lightbox .container .inner-container .thumbnail-view ul li {
    float: left;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333333333%;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:nth-child(3n+4) {
    clear: left;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:nth-child(-n+3) {
    margin-top: 0;
  }
}

@media (min-width:700px) and (max-width:768px) {
  #lightbox .container .inner-container .thumbnail-view ul li {
    float: left;
    margin: 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:nth-child(-n+2) {
    margin-top: 0;
  }
}

@media (min-width:769px) and (max-width:992px) {
  #lightbox .container .inner-container .thumbnail-view ul li {
    float: left;
    margin: 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:nth-child(-n+2) {
    margin-top: 0;
  }
}

@media (min-width:481px) and (max-width:699px) {
  #lightbox .container .inner-container .thumbnail-view ul li {
    float: left;
    margin: 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:first-child {
    margin-top: 0;
  }
}

@media (max-width:480px) {
  #lightbox .container .inner-container .thumbnail-view ul li {
    float: left;
    margin: 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  #lightbox .container .inner-container .thumbnail-view ul li:first-child {
    margin-top: 0;
  }
}

#lightbox .container .inner-container .thumbnail-view.hidden {
  display: none;
}

#lightbox .container .inner-container .image-loading {
  display: none;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 20000000;
}

#lightbox .container .inner-container .author {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: left;
}

#lightbox .container .inner-container .author p {
  color: #fff;
  max-width: 1020px;
  padding: 15px;
}

@media (min-width:769px) and (max-width:992px) {
  #lightbox a.close,  #lightbox a.single-view,  #lightbox a.thumbnail {
    padding: 20px;
  }

  #lightbox a.download,  #lightbox a.share,  #lightbox span.image-index {
    padding: 20px 15px;
  }

  #lightbox .container {
    padding: 0;
  }
}

@media (min-width:700px) and (max-width:768px) {
  #lightbox a.close,  #lightbox a.single-view,  #lightbox a.thumbnail {
    padding: 20px;
  }

  #lightbox a.download,  #lightbox a.share,  #lightbox span.image-index {
    padding: 20px 15px;
  }

  #lightbox .container {
    padding: 0;
  }
}

@media (min-width:481px) and (max-width:699px) {
  #lightbox a.close,  #lightbox a.single-view,  #lightbox a.thumbnail {
    padding: 20px;
  }

  #lightbox a.download,  #lightbox a.share,  #lightbox span.image-index {
    padding: 20px 15px;
  }

  #lightbox .container {
    padding: 0;
  }
}

@media (max-width:480px) {
  #lightbox a.close,  #lightbox a.single-view,  #lightbox a.thumbnail {
    padding: 20px;
  }

  #lightbox a.download,  #lightbox a.share,  #lightbox span.image-index {
    padding: 20px 15px;
  }

  #lightbox .container {
    padding: 0;
  }
}

.loading {
  background-color: transparent;
  display: none;
  height: 4px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.loading .loading-bar {
  background-color: #ffcc01;
  height: 100%;
  position: absolute;
  width: 1%;
}

.loading .loading-bar-10 {
  width: 10%;
}

.loading .loading-bar-20 {
  width: 20%;
}

.loading .loading-bar-30 {
  width: 30%;
}

.loading .loading-bar-40 {
  width: 40%;
}

.loading .loading-bar-50 {
  width: 50%;
}

.loading .loading-bar-60 {
  width: 60%;
}

.loading .loading-bar-70 {
  width: 70%;
}

.loading .loading-bar-80 {
  width: 80%;
}

.loading .loading-bar-90 {
  width: 90%;
}

.loading .loading-bar-100 {
  width: 100%;
}

.main.org-container .rich-text-element.bodytext>:first-child,.org-container .rich-text-element.bodytext>:first-child {
  margin-top: 0;
}

.main.org-container .rich-text-element.bodytext>:last-child,.org-container .rich-text-element.bodytext>:last-child {
  margin-bottom: 0;
}

.main.org-container section,.org-container section {
  margin-bottom: 50px;
}

.main.org-container section:last-child,.org-container section:last-child {
  margin-bottom: 0;
}

.main.org-container section h4,.org-container section h4 {
  margin: 0 0 40px;
}

@media (min-width:769px) and (max-width:992px) {
  .main.org-container section,  .org-container section {
    margin-bottom: 60px;
  }

  .main.org-container section h4,  .org-container section h4 {
    margin: 0 0 54px;
  }
}

@media (min-width:993px) and (max-width:1155px) {
  .main.org-container section,  .org-container section {
    margin-bottom: 60px;
  }

  .main.org-container section h4,  .org-container section h4 {
    margin: 0 0 54px;
  }
}

@media (min-width:1156px) and (max-width:1210px) {
  .main.org-container section,  .org-container section {
    margin-bottom: 60px;
  }

  .main.org-container section h4,  .org-container section h4 {
    margin: 0 0 54px;
  }
}

@media (min-width:1211px) and (max-width:1600px) {
  .main.org-container section,  .org-container section {
    margin-bottom: 60px;
  }

  .main.org-container section h4,  .org-container section h4 {
    margin: 0 0 54px;
  }
}

@media (min-width:1601px) {
  .main.org-container section,  .org-container section {
    margin-bottom: 60px;
  }

  .main.org-container section h4,  .org-container section h4 {
    margin: 0 0 54px;
  }
}
