/*
 * SPDX-FileCopyrightText: 2012 JQuery Team <http://jqueryui.com/about>
 *
 * SPDX-License-Identifier: MIT
 */

/* jQuery UI CSS Framework 1.8.22 */


#usasearch_sayt .ui-helper-hidden {
  display: none;
}

#usasearch_sayt .ui-helper-hidden-accessible {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

#usasearch_sayt ~ .ui-helper-hidden-accessible {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

#usasearch_sayt .ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
}

#usasearch_sayt .ui-widget .ui-widget {
  font-size: 1em;
}

#usasearch_sayt .ui-widget input,#usasearch_sayt .ui-widget button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
}

#usasearch_sayt .ui-widget-content {
  color: #222;
  background: #fff url(https://d15vqlr7iz6e8x.cloudfront.net/assets/legacy/sayt/ui-bg_flat_75_ffffff_40x100.png) 50% repeat-x;
  border: 1px solid #aaa;
}

#usasearch_sayt .ui-widget-content a {
  color: #222;
}

#usasearch_sayt .ui-widget-header {
  color: #222;
  background: #ccc url(https://d15vqlr7iz6e8x.cloudfront.net/assets/legacy/sayt/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% repeat-x;
  border: 1px solid #aaa;
  font-weight: 700;
}

#usasearch_sayt .ui-widget-header a {
  color: #222;
}

#usasearch_sayt .ui-widget :active {
  outline: 0;
}

#usasearch_sayt .ui-widget-content a,#usasearch_sayt .ui-widget-header a {
  color: #363636;
}

#usasearch_sayt .ui-widget-content a,#usasearch_sayt .ui-widget-header a {
  color: #cd0a0a;
}

#usasearch_sayt .ui-autocomplete {
  cursor: default;
  position: absolute;
}

#usasearch_sayt * .ui-autocomplete {
  width: 1px;
}

#usasearch_sayt .ui-menu {
  float: left;
  margin: 0;
  padding: 2px;
  list-style: none;
  display: block;
}

#usasearch_sayt .ui-menu .ui-menu {
  margin-top: -3px;
}

#usasearch_sayt .ui-menu .ui-menu-item {
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

#usasearch_sayt .ui-menu .ui-menu-item a {
  zoom: 1;
  padding: .2em .4em;
  line-height: 1.5;
  text-decoration: none;
  display: block;
}

#usasearch_sayt .ui-autocomplete {
  text-align: left;
  font-size: smaller;
  font-weight: 700;
}

#usasearch_sayt .ui-menu a {
  color: #1445ac;
  font-size: .9em;
}
