/*
 * SPDX-FileCopyrightText: 2024 John Colagioia <jcolag@colagioia.net>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@font-face {
  font-family: 'Hyper Scrypt';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/HyperScrypt.otf');
}
@font-face {
  font-family: 'Eunomia';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Eunomia-Regular.otf');
}
@font-face {
  font-family: 'Eunomia';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Eunomia-Light.otf');
}
@font-face {
  font-family: 'Eunomia';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Eunomia-Bold.otf');
}
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 100 200 300 500 600 700 800 900;
  src: url('../fonts/LeagueSpartan-VF.woff2');
}
@media screen and (prefers-reduced-motion) {
  h1 {
    animation: none;
  }
}
a:link {
  color: hsl(216.4,39.5%,46.7%);
}
a:active,a:focus,a:hover {
  color: hsl(305.4,38.9%,71.8%) !important;
}
a:visited {
  color: hsl(305.8,39%,36.7%);
}
body {
  background-color: hsl(247.1,39.5%,16.9%);
  background-image:
    radial-gradient(gray, rgba(127,127,127,.2) 2px, transparent 7px),
    radial-gradient(gray, rgba(127,127,127,.15) 1px, transparent 5px),
    radial-gradient(gray, rgba(127,127,127,.1) 2px, transparent 10px),
    radial-gradient(rgba(127,127,127,.4), rgba(127,127,127,.1) 2px, transparent 5px);
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  color: hsl(247.06, 39.53%, 91.57%);
  font-family: 'League Spartan';
  font-size: 2em;
  padding-top: 5em;
  text-align: center;
  text-wrap: balance;
}
button,input {
  background-color: hsl(247.1,39.5%,16.9%);
  color: hsl(247.06, 39.53%, 91.57%);
  font-family: 'League Spartan';
  font-size: 2rem;
}
h1 {
  animation: pulsate 5s infinite alternate;
  color: hsl(36.8,40.1%,36.7%);
  font-family: 'Hyper Scrypt';
  font-size: 3em;
}
h2 {
  font-family: 'Eunomia';
  font-weight: bold;
}
p, ul {
  margin-left: calc(50% - 350px);
  max-width: 700px;
}
tt.email b {
  display: none;
}
ul {
  text-align: left;
}
@keyframes pulsate {
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px hsl(95.8,39.5%,61.8%),
      0 0 80px hsl(95.8,39.5%,61.8%),
      0 0 90px hsl(95.8,39.5%,61.8%),
      0 0 100px hsl(95.8,39.5%,61.8%),
      0 0 150px hsl(95.8,39.5%,61.8%);
  }
  0% {
    text-shadow:
      0 0 2px #fff,
      0 0 7px #fff,
      0 0 12px #fff,
      0 0 20px hsl(95.8,39.5%,61.8%),
      0 0 45px hsl(95.8,39.5%,61.8%),
      0 0 55px hsl(95.8,39.5%,61.8%),
      0 0 70px hsl(95.8,39.5%,61.8%),
      0 0 80px hsl(95.8,39.5%,61.8%);
  }
}
